.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.blocked-background {
  min-width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  background-color: var(--black-opacity-color);
  color: var(--orange-color-1);
  font-weight: bold;
  line-height: 3rem;
  z-index: 10;
}

.blocked-background__text {
  max-width: 300px;
}

.gameboard-container {
  padding-top: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.gameboard {
  padding: 15px 20px;
  display: grid;
}
