.container {
  width: 98%;
  max-width: 580px;
  background-color: var(--orange-color-2);
  overflow: auto;
}

.header {
  overflow: auto;
}

.title {
  padding: 10px 0;
  font-size: 1.5rem;
  font-family: "eater", Courier, monospace;
  color: var(--orange-color-4);
  text-align: start;
}
