.content {
  max-height: 90dvh;
  background-color: var(--orange-color-2);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--orange-color-2) var(--orange-color-4);
}

.title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-family: "eater", Courier, monospace;
  color: var(--orange-color-4);
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  color: var(--orange-color-4);
}
